.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
    background-color: #fff;
    border-bottom: 1px solid rgb(216, 212, 212);
    box-shadow: 0px 10px 30px -20px gray;
}
.header-logo {
    width: 100px;
}
.nav-items ul {
    display: flex;
    align-items: center;
}
.nav-items ul li {
    margin-inline: 30px;
    font-size: 20px;
    list-style-type: none;
}
.nav-items ul li a {
    text-decoration: none;
    color: black;
}
.nav-items ul li a:hover {
    border-bottom: 2px solid black;
}
.login-btn {
    padding-block: 10px;
    padding-inline: 25px;
    border-radius: 25px;
    background-color: #ff8000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: #ff8000;
}



.food-delivery {
    margin-left:50px;
    padding-top: 50px;
    text-decoration: underline;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.res-container a {
    text-decoration: none;
    color: black;
}
.res-cards-items {
    width: 250px;   
    border: 1px solid transparent;
    border-radius: 10px;
}



.res-card-image {
    width: 100%;
    height: 180px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px -20px gray;
}
.res-name {
    padding-inline: 10px;
    margin-top: -15px;
}
.res-name h2 {
    font-size: 20px;
    width: 200px; 
    white-space: nowrap;  
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.section-2 {
    display: flex;
    align-items: center;
    gap: 10;
    margin-top: -25px;
}
.locality {
    font-size: 15px;
    font-weight: bold;
}
.locality h2 {
    font-size: 18px;
}
.rating{
    font-size: 13px;
    background-color: green;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
}
.cuisines {
    color: grey;
}
.costfortwo {
    color: rgb(63, 62, 62);
    margin-top: -10px;
}
.food-rate-details {
    padding-inline: 10px;
    margin-top: -20px;
}
.food-rate-details p {
    width: 200px; 
    white-space: nowrap;  
    overflow: hidden; 
    text-overflow: ellipsis; 
}


.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-top: 50px;
}
.shimmer-card {
    width: 250px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 20px;
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 20px;
}
.search {
    padding-top: 20px;
}
.search input {
    margin-right: 20px;
    width: 800px;
    height: 35px;
    padding: 5px;
    padding-inline: 10px;
    font-size: 18px;
}
.search-res {
    padding-block: 10px;
    padding-inline: 25px;
    border-radius: 25px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 50px;
}
.filter-btn {
    background-color: #fff;
    padding-inline: 20px;
    padding-block: 10px;
    border: 1px solid black;
    border-radius: 25px;
    margin-right: 20px;
}
.filtered {
    background-color: #fff;
    padding-inline: 20px;
    padding-block: 10px;
    border: 1px solid black;
    border-radius: 25px;
    margin-right: 20px;
}
.new {
    background-color: #fff;
    padding-inline: 20px;
    padding-block: 10px;
    border: 1px solid black;
    border-radius: 25px;
}


.contact-details {
    border: 1px solid black;
    padding: 15px;
}



.opened-label {
    background-color: black;
    color: #fff;
    padding-inline: 5px;
    padding-block: 3px;
    z-index: 1;
    position: absolute;
    border-top-left-radius: 10px;
}


.restraunt-detail {
    text-align: center;
}

.restraunt-menu-lists{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.category-items{
    width: 750px;
    margin-bottom: 30px;
}
.category-title {
    display: flex;
    justify-content: space-between;
    background-color: #f7f6f6;
    padding-inline: 10px;
    box-shadow: 0px 10px 20px -20px gray;
    text-align: center;
    align-items: center;
    margin: 0%;
}
.category-title:hover {
    cursor: pointer;
}
.category-title h3 {
    margin: 0%;
}
.item-details {
    width: 750px;
    background-color: #ffffff;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-name-container {
    padding: 5px;
}
.item-name {
    align-items: center;
}
.item-name h3 {
    font-size: 20px;
}
.item-name p {
    font-size: 18px;
    margin-top: -10px;
    font-weight: 600;
    color: rgb(93, 89, 89);
}
.item-des p {
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.items-image-details {
    position: relative;
    padding-block: 10px;
}
.item-image {
    width: 130px;
    border-radius: 10px;
}
.add-button {
    position: absolute;
    z-index: 10;
    top: 110px;
    left: 30px;
    cursor: pointer;
}
.add-button button {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    margin-block-start: 0%;
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 5px;
    font-size: 15px;
}
.add-button button:hover {
    cursor: pointer;
}


.user-name-header {
    font-weight: bold;
}


.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-name {
    text-align: center;
    margin-top: 20px;
}
.cart-name h1 {
    margin: 0%;
}
.cart-name button {
    background-color: black;
    color: #fff;
    border-radius: 10px;
   padding: 10px;
   margin-top: 30px;
}
.cart-name button:hover {
    cursor: pointer;
}